/* div {
    background-color: bisque;
    padding:20px;
    
    display: flex;
    justify-content: center;
}

body {
    background-color: black;
}

.we {
    color: white;
    text-align: center;
} */